@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50px;
}

.text {
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Roboto Slab', serif;
  color: white;
}

.piechart {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(#4CAF50 0% 40%,
      #2196F3 40% 70%,
      #FFC107 70% 90%,
      #F44336 90% 100%);
  position: relative;
  box-shadow:
    inset 0 0 10px rgba(0, 0, 0, 0.3),
    /* inner shadow for depth */
    0 5px 15px rgba(0, 0, 0, 0.2);
  /* outer shadow */
}

.piechart::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: radial-gradient(circle, transparent 50%, rgba(0, 0, 0, 0.1));
  border-radius: 50%;
  z-index: 2;
}

.piechart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 6px solid #c49c66;
  /* crust color */
  border-radius: 50%;
  box-sizing: border-box;
  z-index: 1;
}

@media(max-width: 600px) {

  .text {
    font-size: 20px;
  }

  .arc2 {
    width: 30px;
    height: 30px;

  }

  .arc1 {
    width: 30px;
    height: 30px;

  }
}